.container{
  height:100vh;
  width:100%;
  background-color: #161616;
  color: white;
  padding:40px;
  display: flex;
  z-index: -1;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.form{
padding:30rem;
  width:100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: flex-start;
  
}

.inp{
  width:100%;
  height:45px;
  border-radius: 5px;
  text-indent:15px;
  outline: none;
  border: 1px solid gray;

}
.btn{
  padding:10px 50px;
  border-radius: 5px;
  background-color: #167ce0;
  color:white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid blue;
  cursor: pointer;
}
.btn:hover{
  background-color: #5395d7;
}



a{
  color:#167ce0;
  text-decoration: none;
}
.not-found{
  width:100%;
  text-align: center;

}

.success{
  background-color: lightgreen;
  color:green;
  width:100%;
  padding:10px;
  border-radius: 10px;
  opacity: 1;
}

.error{
  background-color: lightpink;
  color:red;
  width:100%;
  padding:10px;
  border-radius: 10px;
  opacity: 1;
}

.invisible-msg{
  
  width:100%;
  padding:10px;
  border-radius: 10px;
  opacity: 0;

}
/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:black;
}

.track-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

.search-inp {
  width: 30%;
  /* background-lor: red; */
  height: 50px;
  margin-left: 150vh;
  margin-top:60px;
  text-indent: 10px;

  outline: none;
  
  border-radius: 5px;
  border: 1px solid gray;
}

.search-results {
  width: 30%;
  margin-left: 130vh;
  padding: 10px;
  z-index: 20;
  background:transparent;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.item:hover {
  background-color:black;
  color:white;
  font-size: 16px;
}

.tarck-head {
  font-size:25px;
  text-align: center;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  
  width: 0;
  color:white;
  animation: rotate 3s steps(20, end) infinite;
}

@keyframes rotate {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

/* Media Queries for Responsive Design */



/* General styles */
.food {
  width: 90%;
  margin-top:160px;
  padding: 20px;
  border: 1px solid #ddd;
position: absolute;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
  z-index: -4;
}

.food-img {
  width: 100%;
  max-width: 400px;
  height: 300px;
  margin:50px 20px;
  overflow: hidden;
  border-radius: 10px;
  z-index: -4;
}

.food-image {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.nuti {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.nutrient {
  width: 45%;
  text-align: center;
  margin-bottom: 10px;
}

.n-title {
  font-weight: bold;
}

.track-control {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.track-control .inp {
  width: 68%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.track-control .btn {
  width: 30%;
  padding: 10px;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.track-control .btn:hover {
  background-color: #0056b3;
}



.tarck-head{
margin-top:0px;
font-size: 39px;
text-align: center;
overflow: hidden;
white-space: nowrap;
width:0;
animation: rotate 3s steps(20,end)infinite;

}

@keyframes rotate{
  from{width:0;}
  to{width:100%}

}
.search-inp:focus >.tarck-head{
  display: none;
}
.diet-container{
  align-items: flex-start;
  row-gap: 20px;
  
  flex-direction: column;
  margin-top:0px;
  color: white;
}

/* General styles */
/* General styles */
.header-con {
  width: 100%;
  background-color: #e2e2e2;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  position: fixed;
  top: 0;
}
.head{
  display: flex;

}
.header-title {
  color: blue;
  font-family: sans-serif;
  margin-left: 15px;
}

.header-ul {
  display: flex;
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.header-ul li {
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-ul li:hover {
  font-style: italic;
}

.header-btn {
  padding: 5px 10px;
}

.head .nav-toggle-btn {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  align-items: flex-end;
  cursor: pointer;
}


.track-con {
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
  padding: 20px;
  width: 90%;

  margin: 0 auto;
}

.date {
  
  width:20%;
  margin-left: 165vh;
  background-color: gainsboro;
  height: 45px;
  padding: 30px;
  margin-top: 80px;
  border-radius: 5px;
  border: 1px solid gray;
}

.diet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  background-color: #424040;
  color: white;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item h3 {
  margin: 0;
}

.item p {
  margin: 5px 0 0;
}



/* Media Queries for Responsive Design */


.home-con {
  background-color: white;
  color: black;
  width: 100%;
  padding-top: 60px; /* to account for fixed header */
}

.home {
  padding: 10vh;
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 60vh;
  align-items: center;
  text-align: center;
}

.firstsec {
  margin-bottom: 20px;
}

.firstsec h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 48px;
  font-weight: bold;
}

.firstsec p {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.home-video {
  margin-bottom: 40px;
}

.home-video iframe {
  width: 100%;
  width: 460px;
  height: 300px;
}

/* Second section styles */
.secondsec {
  background-color: whitesmoke;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.secondsec img {
  width: 100%;
  
  margin-bottom: 20px;
}

.second-details {
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

.second-child img {
  width: 100%;
  
  margin-bottom: 20px;
}

.second-childdetails {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin-top: -20px;
}

.second-childdetails h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
}

.second-childdetails ul {
  list-style-type: square;
  padding-left: 20px;
  text-align: left;
}

.second-childdetails ul li {
  font-size: 20px;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 10px;
}

.footer-list {
  list-style-type: none;
  padding: 0;
}

.footer-list li {
  margin-bottom: 10px;
}

.footer-section h1 {
  margin-bottom: 10px;
}

.socials {
  display: flex;
  gap: 10px;
}

.contact{
  margin:80px auto;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-col{
  flex-basis:48%;
  color:white
}
.contact-col h3{
  color:white;
  font-weight: 500;
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.contact-col h3 img{
  width:35px;
  margin-left: 10px;
}
.contact-col p{
  max-width: 450px;
  line-height:1.3;
}
.contact-col ul li{
  display: flex;
  align-items: center;
  margin:20px 0;
}
.contact-col ul li img{
  width:25px;
  margin-right: 10px;
}
.contact-col form .con-in, .contact form textarea{
  display: block;
  width:100%;
  background: #EBECFE;
  padding:15px;
  border:0;
  outline:0;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 5px;
  resize:none;
}
.contact-col span{
  display: block;
  margin:20px 0;
}


@media (max-width: 640px) {

  .contact-col {
    width:100%;
    margin-bottom: 20px;
  }

  .contact {
    flex-direction: column;
  }
  
  
}

@media (max-width: 768px) {
  .search-inp {
    width: 100%;
    /* background-color: red; */
    height: 50px;
    
    margin-left: 0vh;
    margin-top:75px;
    text-indent: 10px;
  }
  
  .search-results {
    width: 100%;
    margin-left: 15vh;
    padding: 0px;
    z-index: 30;
    background-color:transparent;
    
    
  }
  .track-container {
      padding: 0px;
      width:100%;
  }
  .tarck-head{
    margin-left:1px;
    margin:0 1px;
    font-size: 25px;
    animation: rotate 3s steps(20, end) infinite;
  }
  @keyframes rotate {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
  }
  
}
@media (max-width:640px){
  .container{
    padding:10px;
  }
  .form{
    padding:6rem;
  }
  .btn{
    padding:5px 25px;
  }
}
@media (max-width: 768px) {
  .home {
      padding: 10px;
      flex-direction: column;
      gap:5px;
  }

  .firstsec h1 {
      font-size: 32px;
  }
  

  .firstsec p {
      font-size: 16px;
  }

  .second-details {
      font-size: 16px;
  }

  .second-childdetails h2 {
      font-size: 28px;
  }

  .second-childdetails ul li {
      font-size: 16px;
  }

  .footer-section {
      margin: 5px 0;
  }
}
@media (max-width: 768px) {
  .header-con {
      flex-direction: column;
      align-items: flex-start;
  }

  .header-ul {
      flex-direction: column;
      width: 100%;
      align-items:center;
      gap: 10px;
      display: none;
  }

  .header-ul.open {
      display: flex;
  }

  .header-btn {
      align-self: flex-end;
      margin-top: 10px;
      margin-right: 36%;
      
  }

 .head .nav-toggle-btn {
      display:flex;
     margin-left:50%;
  }
}
@media (max-width: 768px) {
  .food {
      width: 100%;
      margin-top: 160px;
      padding: 10px;
      z-index: -4;
    position: absolute;
  }
  .food-img{
    z-index:-5;
  }

  h2 {
      font-size: 20px;
  }

  .nuti {
      display:grid;
      grid-template-columns: repeat(2,1fr);
      align-items: center;
  }

  .nutrient {
      width: 100%;
  }

  .track-control {
      flex-direction: column;
      align-items: center;
  }

  .track-control .inp, .track-control .btn {
      width: 100%;
      margin-bottom: 10px;
  }
  .track-container{
    padding:4px;
  }
  
  
}
@media (max-width: 768px) {
  .date {
    margin-left:0vh;
    width:100%;
  }

  .diet-container {
      padding: 10px;
  }

  .item {
      width: 90%;
      padding:10px;
      
  }
  .item:hover{
    font-size: 16px;
    background-color: black;
    color: white;

  }
}